{% extends "base.html" %}
{% block content %}



<div class="main main_attraction">
    <div class="sight_box">
        
        <div class="sight_box_carousel">
            <div class="sight_box_images">
                
            </div>


            <div class="sight_box_image_overlay">
                <button class="left-button"></button>
                <button class="right-button"></button>
            </div>

        </div>





        <div class="sight_box_right"> booking panel </div>

    </div>
    <!-- <div class="list_bar">
        <div class="list_bar_left_container" id="left_arrow">
            <img src="/static/images/arrow_left.png">
        </div>

        <div class="list_bar_container body_body_medium">
            <div class="list" id="container" >

            </div>                  
        </div>

        <div class="list_bar_right_container" id="right_arrow">
            <img src="/static/images/arrow_right.png">
        </div>
    </div> -->
    

    <div id="intersection-trigger"></div>
</div>

<script src="/static/js/script_attraction.js"></script>

{% endblock %}