<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title> Taipei Trip </title>
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
        <!-- <script src="/static/js/preload.js"></script> -->
    </head>

    <body class="body" onload="login_check()">
        <div class="nav_box">
            <div class="nav_bar">
                    <!-- <div class="left headline_h2_bold"> Taipei Trip </div> -->
                    <div class="left headline_h2_bold" id="taipei_trip"> Taipei Trip </div>

                    <div class="right-desktop-menu">
                        <div class="item1 body_body_medium"> Reserve </div>
                        <div class="item2 body_body_medium" id="loginButton"> Login </div>
                        <div class="item_logout body_body_medium" id="logout_button"> Logout </div>

                    </div>

                    <!-- <div class="mobile-menu">
                        <img src="burger-menu-svgrepo-com.png" width="30" height="30"/>
                    </div> -->
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="decorator_bar"></div>
            <div class="modal-content">
                <span class="close" id="close_login">&times;</span>
                <h2 class="dialogtitle_h3_bold dialogtitle"> Log in to see more </h2>
                <form class="modal_form" id="modal_form">
                    <input type="text" id="email" placeholder="Email" required class="modal_input body_body_medium">
                    <input type="password" id="password" placeholder="Password" required class="modal_input body_body_medium">
                    <button type="submit" class="modal_button button_btn_regular">Login</button>
                </form>
                <div class="link_signup body_body_medium" id="link_signup"> Not on Taipei Trip yet? Sign up</div>
                <div class="modal_error_box body_body_medium"></div>
            </div>
        </div>

        
        <div id="signup" class="modal">
            <div class="decorator_bar"></div>
            <div class="modal-content">
                <span class="close" id="close_signup">&times;</span>
                <h2 class="dialogtitle_h3_bold dialogtitle"> Sign up to see more </h2>
                <form class="modal_form" id="signup_form">
                    <input type="text" id="name" placeholder="Name" required class="modal_input body_body_medium">
                    <input type="text" id="signup_email" placeholder="Email" required class="modal_input body_body_medium">
                    <input type="password" id="signup_password" placeholder="Create a Password" required class="modal_input body_body_medium">
                    <button type="submit" class="modal_button button_btn_regular"> Continue </button>
                </form>
                <div class="link_login body_body_medium" id="link_login"> Already a member? Log in </div>
                <div class="modal_error_box body_body_medium" id="signup_status"></div>
            </div>
        </div>
    
        <div id="mask" class="mask"></div>

        {% block content %}
        {% endblock %}

        <div class="footer">
            <dp class="footer_text"> COPYRIGHT &copy; 2023 Taipei Trip </p>
        </div>
        <script src="/general/static/js/script_base.js"></script>

        
        {% block javascript %}
        {% endblock %}
    </body>
</html>