{% extends "base.html" %}
{% block content %}
        <div class="welcome-banner">
            <div class="slogan_flex">
                <div class="slogan">
                    <div class="welcome_text1 slogantitle_h1_bold"> Enjoy day trip in Taipei </div>
                    <div class="welcome_text2 body_body_bold"> An immersive trip to explore the city</div>
                    <div class="search_bar">
                        <input type="text" placeholder="Search a sight" class="search-input body_body_bold" id="search-input">
                        <div class="search-button">
                            <img src="/static/images/search_icon.png" alt="Search Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="list_bar">

                <div class="list_bar_left_container" id="left_arrow">
                    <img src="/static/images/arrow_left.png">
                </div>

                <div class="list_bar_container body_body_medium">
                    <div class="list" id="container" >

                    </div>                  
                </div>

                <div class="list_bar_right_container" id="right_arrow">
                    <img src="/static/images/arrow_right.png">
                </div>
            </div>
            
            <div class="part2_twelve" id="part2_twelve"></div>
            
            <div id="intersection-trigger"></div>
        </div>


{% endblock %}

{% block javascript %}
        <script src="/general/static/js/script_index.js"></script>
{% endblock %}
