<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title> Taipei Trip </title>
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    </head>

    <body class="body" onload="load_test()">

        <div class="nav_box">
            <div class="nav_bar">
                    <!-- <div class="left headline_h2_bold"> Taipei Trip </div> -->
                    <div class="left headline_h2_bold" id="taipei_trip"> Taipei Trip </div>

                    <div class="right-desktop-menu">
                        <div class="item1 body_body_medium"> Reserve </div>
                        <div class="item2 body_body_medium"> Login </div>
                    </div>

                    <!-- <div class="mobile-menu">
                        <img src="burger-menu-svgrepo-com.png" width="30" height="30"/>
                    </div> -->
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="footer">
            <dp class="footer_text"> COPYRIGHT &copy; 2023 Taipei Trip </p>
        </div>
        <script src="/static/js/script_base.js"></script>
    </body>
</html>